Iot_edge_use-case_Temp/Node_red-UI-Flows.json
[{"id":"697a8992581c95cd","type":"tab","label":"Temp Data","disabled":false,"info":"","env":[]},{"id":"c928a68ae04c5a4e","type":"tab","label":"File Analytics","disabled":false,"info":"","env":[]},{"id":"4df5707812483ce7","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#b21010","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Temperature Monitor","hideToolbar":"false","allowSwipe":"menu","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":55,"sy":55,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"192.168.29.254","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6b3362e7e9e243e6","type":"ui_tab","name":"Dashboard","icon":"developer_dashboard","order":1,"disabled":false,"hidden":false},{"id":"22090904f9d2734f","type":"ui_group","name":"Current Data Analytics","tab":"6b3362e7e9e243e6","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"837ea4b0b79954ca","type":"ui_group","name":"Temperature Gauge","tab":"6b3362e7e9e243e6","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"160e81fb.f1c86e","type":"ui_group","name":"Previous Data Analytics","tab":"6b3362e7e9e243e6","order":3,"disp":true,"width":18,"collapse":false,"className":""},{"id":"2a33c5f632d7a48a","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a38d239d59642b67","type":"ui_spacer","z":"697a8992581c95cd","name":"spacer","group":"160e81fb.f1c86e","order":6,"width":1,"height":1},{"id":"d99e55b90ab91699","type":"ui_spacer","z":"697a8992581c95cd","name":"spacer","group":"160e81fb.f1c86e","order":7,"width":2,"height":1},{"id":"86533860da8069dc","type":"mqtt in","z":"697a8992581c95cd","name":"Temperature","topic":"esp32/temperature","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":false,"inputs":0,"x":110,"y":260,"wires":[["ec7fdbe7aee0f739","48341d89c55edd56","4bafbbee6e94a7fb","ac2268091d5316ab","c5d154d3901d10d0"]]},{"id":"6fa1ed8113849fd5","type":"function","z":"697a8992581c95cd","name":"Data Structured Fn","func":"// var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\n// var localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, 16).replace('T', ' ');\nvar status = \"High Temperature\";\n\nvar today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today_time = new Date();\nvar time = today_time.getHours() + \":\" + today_time.getMinutes() + \":\" + today_time.getSeconds();\ntoday_date = dd + '/' + mm + '/' + yyyy;\n\n\npayload = {\"Time\":time,\"Date\":today_date,\"Payload\":msg.payload,\"topic\":msg.topic,\"Status\":status};\n// msg.payload=JSON.stringify(payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":320,"wires":[["339bdbdd5e6a8721"]]},{"id":"416625e7d8c48a50","type":"debug","z":"697a8992581c95cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"799fc92ec4a99bd8","type":"file","z":"697a8992581c95cd","name":"","filename":"D:\\Node_red\\Data_logger\\Log_folder\\high_temp.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":870,"y":420,"wires":[["416625e7d8c48a50"]]},{"id":"339bdbdd5e6a8721","type":"csv","z":"697a8992581c95cd","name":"","sep":",","hdrin":false,"hdrout":"once","multi":"one","ret":"\\n","temp":"Time,Date,Payload,topic,Status","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":690,"y":280,"wires":[["799fc92ec4a99bd8"]]},{"id":"ec7fdbe7aee0f739","type":"function","z":"697a8992581c95cd","name":"Temp Check","func":"var temp = msg.payload;\nif(temp>=32){\n    msg.payload = temp;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["6fa1ed8113849fd5"]]},{"id":"bf8dc36bd33c60fa","type":"mqtt out","z":"697a8992581c95cd","name":"","topic":"esp32/fan","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":740,"y":200,"wires":[]},{"id":"48341d89c55edd56","type":"switch","z":"697a8992581c95cd","name":"Fan Control","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"32","vt":"num"},{"t":"lt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":180,"wires":[["d45a2ebc3282022d"],["4bd9203f9878d422"]]},{"id":"d45a2ebc3282022d","type":"change","z":"697a8992581c95cd","name":"Fan_HIGH","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["bf8dc36bd33c60fa","345c6e832564f259"]]},{"id":"4bd9203f9878d422","type":"change","z":"697a8992581c95cd","name":"Fan_LOW","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":240,"wires":[["bf8dc36bd33c60fa","345c6e832564f259"]]},{"id":"4c541923036971d6","type":"comment","z":"697a8992581c95cd","name":"Fan Trigger","info":"","x":310,"y":100,"wires":[]},{"id":"4bafbbee6e94a7fb","type":"ui_chart","z":"697a8992581c95cd","name":"","group":"22090904f9d2734f","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Temp","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#05eb05","#98df8a","#d62728","#ff9896","#7b0be5","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":380,"wires":[[]]},{"id":"088d09c9ad844b73","type":"file","z":"697a8992581c95cd","name":"","filename":"D:\\Node_red\\Data_logger\\full_temp.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":740,"y":540,"wires":[[]]},{"id":"c5d154d3901d10d0","type":"function","z":"697a8992581c95cd","name":"Data Structured Fn","func":"// var d=new Date();\n// var day=d.getDate();\n// var month=d.getMonth();\n// var year=d.getFullYear();\n// if(day<=9)\n// day=\"0\"+day;\n// if(month<=9)\n// month=\"0\"+month+1;\n// var date_out= day+\"/\"+month+\"/\"+year;\n// var ts = Math.round((new Date()).getTime() / 1000);\nvar time = new Date().toLocaleTimeString();\n\nmsg.time = time;\n\n\n\n\n    payload = {\"time\": msg.time,\"Temp\": msg.payload,};\n    // msg.payload=JSON.stringify(payload);\n    msg.payload = payload;\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["ad91a6fdf2f42d09"]]},{"id":"ac2268091d5316ab","type":"ui_gauge","z":"697a8992581c95cd","name":"","group":"837ea4b0b79954ca","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"Celcius","format":"{{value}}","min":0,"max":"150","colors":["#00fa04","#e00016","#c28400"],"seg1":"30","seg2":"75","className":"","x":510,"y":420,"wires":[]},{"id":"345c6e832564f259","type":"ui_text","z":"697a8992581c95cd","group":"837ea4b0b79954ca","order":1,"width":0,"height":0,"name":"","label":"Fan Status : ","format":"{{msg.payload}}","layout":"row-spread","className":"color: blue","x":770,"y":100,"wires":[]},{"id":"ad91a6fdf2f42d09","type":"csv","z":"697a8992581c95cd","name":"","sep":",","hdrin":false,"hdrout":"once","multi":"one","ret":"\\r\\n","temp":"time,Temp","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":390,"y":600,"wires":[["088d09c9ad844b73","c0297b5a2c93f3e0"]]},{"id":"c0297b5a2c93f3e0","type":"debug","z":"697a8992581c95cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":600,"wires":[]},{"id":"4fa73dd9.83cca4","type":"comment","z":"c928a68ae04c5a4e","name":"File Browser","info":"1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.","x":110,"y":40,"wires":[]},{"id":"993d7272.843ae","type":"fs-file-lister","z":"c928a68ae04c5a4e","name":"Files","start":"D:\\Node_red","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":510,"y":140,"wires":[["dd88bd23.37cde","3e094f82.15d6e"]]},{"id":"d185a45.2327a58","type":"inject","z":"c928a68ae04c5a4e","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"change","payload":"D:\\Node_red","payloadType":"str","x":110,"y":100,"wires":[["3d4e5e51.bdf952"]]},{"id":"a715f7a4.a398a8","type":"ui_button","z":"c928a68ae04c5a4e","name":"","group":"160e81fb.f1c86e","order":1,"width":2,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","topicType":"str","x":100,"y":140,"wires":[["3d4e5e51.bdf952"]]},{"id":"eb17c7ee.e61988","type":"ui_dropdown","z":"c928a68ae04c5a4e","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"160e81fb.f1c86e","order":10,"width":5,"height":1,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":910,"y":140,"wires":[["be4830df.5775d"]]},{"id":"dd88bd23.37cde","type":"function","z":"c928a68ae04c5a4e","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["eb17c7ee.e61988"]]},{"id":"638728aa.cd0b08","type":"ui_template","z":"c928a68ae04c5a4e","d":true,"group":"160e81fb.f1c86e","name":"","order":13,"width":18,"height":4,"format":"<div ng-bind-html=\"msg.payload\" height=\"200\" style=\"height: 100px;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1100,"y":200,"wires":[[]]},{"id":"9d27e846.b31db8","type":"template","z":"c928a68ae04c5a4e","d":true,"name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"80%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":940,"y":200,"wires":[["638728aa.cd0b08"]]},{"id":"7b7e0d58.05e244","type":"ui_button","z":"c928a68ae04c5a4e","name":"","group":"160e81fb.f1c86e","order":11,"width":2,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"str","topic":"","x":130,"y":300,"wires":[["8da8147a.999af8"]]},{"id":"7d490dd1.8458b4","type":"function","z":"c928a68ae04c5a4e","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":300,"wires":[["372ee262.fc94de"]]},{"id":"372ee262.fc94de","type":"file","z":"c928a68ae04c5a4e","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":760,"y":380,"wires":[["993d7272.843ae","5219875b.c070d8"]]},{"id":"aa8c482.93734b8","type":"http in","z":"c928a68ae04c5a4e","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["d969ba04.e24028"]]},{"id":"d19cc7d8.646328","type":"http response","z":"c928a68ae04c5a4e","name":"","statusCode":"","headers":{},"x":930,"y":500,"wires":[]},{"id":"d969ba04.e24028","type":"function","z":"c928a68ae04c5a4e","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":500,"wires":[["e92381c3.c4cd2"]],"outputLabels":["Folder selected"]},{"id":"e92381c3.c4cd2","type":"file in","z":"c928a68ae04c5a4e","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":580,"y":500,"wires":[["99ff4953.d0d5c8"]]},{"id":"99ff4953.d0d5c8","type":"change","z":"c928a68ae04c5a4e","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["d19cc7d8.646328"]]},{"id":"2519dd0d.54d6b2","type":"ui_button","z":"c928a68ae04c5a4e","name":"","group":"160e81fb.f1c86e","order":12,"width":2,"height":1,"passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","className":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","topicType":"str","x":90,"y":620,"wires":[["30f41c01.358a54"]]},{"id":"30f41c01.358a54","type":"function","z":"c928a68ae04c5a4e","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"x":260,"y":620,"wires":[["4f4072b6.0c320c"]]},{"id":"4f4072b6.0c320c","type":"file in","z":"c928a68ae04c5a4e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":620,"wires":[["a421551f78452fdb"]]},{"id":"554f0095.ac1b2","type":"ui_toast","z":"c928a68ae04c5a4e","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"className":"","topic":"","name":"Confirmation","x":510,"y":300,"wires":[["24df84fe.ebf45c"]]},{"id":"8da8147a.999af8","type":"change","z":"c928a68ae04c5a4e","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["554f0095.ac1b2"]]},{"id":"24df84fe.ebf45c","type":"switch","z":"c928a68ae04c5a4e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":300,"wires":[["7d490dd1.8458b4"]]},{"id":"3d4e5e51.bdf952","type":"function","z":"c928a68ae04c5a4e","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["993d7272.843ae","399ac341.7d43bc","5219875b.c070d8"]]},{"id":"399ac341.7d43bc","type":"ui_text","z":"c928a68ae04c5a4e","group":"160e81fb.f1c86e","order":4,"width":9,"height":1,"name":"","label":"Folder:","format":"{{msg.payload.start}}","layout":"row-left","className":"","x":550,"y":60,"wires":[]},{"id":"b40ea1d8.c700a","type":"ui_button","z":"c928a68ae04c5a4e","d":true,"name":"","group":"160e81fb.f1c86e","order":3,"width":2,"height":1,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","className":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"up","topicType":"str","x":110,"y":220,"wires":[["3d4e5e51.bdf952"]]},{"id":"80940e39.5035b","type":"ui_button","z":"c928a68ae04c5a4e","name":"","group":"160e81fb.f1c86e","order":9,"width":2,"height":1,"passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","className":"","icon":"folder_open","payload":"","payloadType":"str","topic":"","topicType":"str","x":130,"y":420,"wires":[["8c1dfaac.979588"]]},{"id":"8c1dfaac.979588","type":"function","z":"c928a68ae04c5a4e","name":"Change folder","func":"// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["3d4e5e51.bdf952"]]},{"id":"58414ec4.c716e","type":"ui_button","z":"c928a68ae04c5a4e","name":"","group":"160e81fb.f1c86e","order":2,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"autorenew","payload":"D:\\Node_red","payloadType":"str","topic":"change","topicType":"str","x":110,"y":180,"wires":[["3d4e5e51.bdf952"]]},{"id":"5219875b.c070d8","type":"fs-file-lister","z":"c928a68ae04c5a4e","name":"Folders","start":"D:\\Node_red","pattern":"*.*","folders":"*","hidden":false,"lstype":"directories","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":520,"y":240,"wires":[["ebc234be.d53fe8"]]},{"id":"37485c24.212054","type":"ui_dropdown","z":"c928a68ae04c5a4e","name":"Folder Selector","label":"","tooltip":"","place":"Select a folder","group":"160e81fb.f1c86e","order":8,"width":5,"height":1,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":920,"y":240,"wires":[["2875c79f.531558"]]},{"id":"ebc234be.d53fe8","type":"function","z":"c928a68ae04c5a4e","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["37485c24.212054"]]},{"id":"be4830df.5775d","type":"change","z":"c928a68ae04c5a4e","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":140,"wires":[[]]},{"id":"2875c79f.531558","type":"change","z":"c928a68ae04c5a4e","name":"Save selection","rules":[{"t":"set","p":"folderselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":240,"wires":[[]]},{"id":"928e60a7.994be","type":"ui_switch","z":"c928a68ae04c5a4e","name":"","label":"Hidden","tooltip":"Show hidden files or not","group":"160e81fb.f1c86e","order":5,"width":2,"height":1,"passthru":false,"decouple":"false","topic":"hidden","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","x":100,"y":260,"wires":[["3d4e5e51.bdf952"]]},{"id":"3e094f82.15d6e","type":"function","z":"c928a68ae04c5a4e","d":true,"name":"Convert timestamps","func":"for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["9d27e846.b31db8"]]},{"id":"a421551f78452fdb","type":"csv","z":"c928a68ae04c5a4e","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"mult","ret":"\\n","temp":"x,y","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":590,"y":620,"wires":[["0103b6379d7231bc"]]},{"id":"dde7702ee13d72dd","type":"debug","z":"c928a68ae04c5a4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"66d66f761057fa93","type":"ui_chart","z":"c928a68ae04c5a4e","name":"","group":"160e81fb.f1c86e","order":14,"width":18,"height":6,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Temp","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#dd0808","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":620,"wires":[[]]},{"id":"0103b6379d7231bc","type":"function","z":"c928a68ae04c5a4e","name":"Format data for chart","func":"msg.payload = msg.payload.splice(-100);\n\nfor(let i = 0; i< msg.payload.length; i++){\n    let time_parts = msg.payload[i].x.split(\":\");\n    msg.payload[i].x = (Number(time_parts[0]) * 3600000) +(Number(time_parts[1]) * 60000) + (i *10000)\n}\n\n\nmsg.payload = [{\n    \"series\":[\"temp\"],\n    \"data\":[msg.payload],\n    \"labels\":[]\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":620,"wires":[["66d66f761057fa93","dde7702ee13d72dd"]]}]